INSERT INTO ai_module_settings (key, is_enabled, configuration) 
VALUES ('content_generation', true, '{"provider": "openai"}')
ON CONFLICT (key) DO UPDATE SET is_enabled = true, configuration = '{"provider": "openai"}';
