
  create table "public"."ai_feature_profile_settings" (
    "id" uuid not null default gen_random_uuid(),
    "profile_type" text not null,
    "feature_key" text not null,
    "is_enabled" boolean not null default false,
    "created_at" timestamp with time zone not null default now(),
    "updated_at" timestamp with time zone not null default now()
      );


alter table "public"."ai_feature_profile_settings" enable row level security;


  create table "public"."ai_module_settings" (
    "id" uuid not null default gen_random_uuid(),
    "key" text not null,
    "is_enabled" boolean not null default false,
    "created_at" timestamp with time zone not null default now(),
    "updated_at" timestamp with time zone not null default now(),
    "configuration" jsonb default '{}'::jsonb
      );


alter table "public"."ai_module_settings" enable row level security;


  create table "public"."bnpl_applications" (
    "id" uuid not null default gen_random_uuid(),
    "user_id" uuid not null,
    "product_id" uuid not null,
    "merchant_id" uuid not null,
    "requested_amount" numeric not null,
    "plan_duration" integer not null,
    "monthly_payment" numeric not null,
    "fees_amount" numeric not null default 0,
    "first_payment_amount" numeric not null,
    "application_status" text not null default 'pending'::text,
    "merchant_decision" text,
    "merchant_decision_date" timestamp with time zone,
    "created_at" timestamp with time zone not null default now(),
    "updated_at" timestamp with time zone not null default now()
      );


alter table "public"."bnpl_applications" enable row level security;


  create table "public"."bnpl_plans" (
    "id" uuid not null default gen_random_uuid(),
    "user_id" uuid not null,
    "order_id" uuid not null,
    "total_amount" numeric not null,
    "monthly_payment" numeric not null,
    "remaining_months" integer not null,
    "next_payment_date" date,
    "status" text not null default 'active'::text,
    "created_at" timestamp with time zone not null default now(),
    "plan_duration" integer,
    "fees_amount" numeric default 0,
    "first_payment_amount" numeric,
    "application_status" text default 'pending'::text
      );


alter table "public"."bnpl_plans" enable row level security;


  create table "public"."cart" (
    "id" uuid not null default gen_random_uuid(),
    "user_id" uuid not null,
    "product_id" uuid not null,
    "quantity" integer not null default 1,
    "created_at" timestamp with time zone not null default now(),
    "updated_at" timestamp with time zone not null default now()
      );


alter table "public"."cart" enable row level security;


  create table "public"."categories" (
    "id" uuid not null default gen_random_uuid(),
    "name" text not null,
    "description" text,
    "created_at" timestamp with time zone default now(),
    "updated_at" timestamp with time zone default now()
      );


alter table "public"."categories" enable row level security;


  create table "public"."courses" (
    "id" uuid not null default gen_random_uuid(),
    "delivery_id" uuid not null,
    "service_id" uuid,
    "driver_id" uuid,
    "status" text not null default 'pending'::text,
    "started_at" timestamp with time zone,
    "ended_at" timestamp with time zone,
    "created_at" timestamp with time zone not null default now(),
    "updated_at" timestamp with time zone not null default now()
      );


alter table "public"."courses" enable row level security;


  create table "public"."deliveries" (
    "id" uuid not null default gen_random_uuid(),
    "order_id" uuid not null,
    "customer_id" uuid not null,
    "merchant_id" uuid not null,
    "driver_id" uuid,
    "pickup_address" text not null,
    "delivery_address" text not null,
    "customer_phone" text not null,
    "customer_name" text not null,
    "status" text not null default 'pending'::text,
    "estimated_delivery_time" timestamp with time zone,
    "actual_delivery_time" timestamp with time zone,
    "delivery_fee" numeric not null default 0,
    "distance_km" numeric,
    "notes" text,
    "created_at" timestamp with time zone not null default now(),
    "updated_at" timestamp with time zone not null default now(),
    "ref" text,
    "client" text,
    "date" date
      );


alter table "public"."deliveries" enable row level security;


  create table "public"."delivery_tracking" (
    "id" uuid not null default gen_random_uuid(),
    "delivery_id" uuid not null,
    "latitude" numeric,
    "longitude" numeric,
    "status_update" text,
    "notes" text,
    "created_at" timestamp with time zone not null default now()
      );


alter table "public"."delivery_tracking" enable row level security;


  create table "public"."delivery_zones" (
    "id" uuid not null default gen_random_uuid(),
    "name" text not null,
    "areas" text[] not null,
    "base_fee" numeric not null default 0,
    "price_per_km" numeric not null default 0,
    "max_delivery_time_minutes" integer not null default 60,
    "is_active" boolean not null default true,
    "created_at" timestamp with time zone not null default now(),
    "updated_at" timestamp with time zone not null default now()
      );


alter table "public"."delivery_zones" enable row level security;


  create table "public"."favorites" (
    "id" uuid not null default gen_random_uuid(),
    "user_id" uuid not null,
    "product_id" uuid not null,
    "created_at" timestamp with time zone not null default now()
      );


alter table "public"."favorites" enable row level security;


  create table "public"."order_items" (
    "id" uuid not null default gen_random_uuid(),
    "order_id" uuid not null,
    "product_id" uuid not null,
    "quantity" integer not null default 1,
    "price" numeric not null,
    "created_at" timestamp with time zone not null default now()
      );


alter table "public"."order_items" enable row level security;


  create table "public"."orders" (
    "id" uuid not null default gen_random_uuid(),
    "client_id" uuid not null,
    "merchant_id" uuid not null,
    "total_amount" numeric not null default 0,
    "status" text not null default 'pending'::text,
    "payment_method" text,
    "payment_status" text default 'pending'::text,
    "delivery_address" text,
    "delivery_phone" text,
    "delivery_notes" text,
    "created_at" timestamp with time zone not null default now(),
    "updated_at" timestamp with time zone not null default now()
      );


alter table "public"."orders" enable row level security;


  create table "public"."platform_settings" (
    "key" text not null,
    "value" jsonb,
    "created_at" timestamp with time zone not null default now(),
    "updated_at" timestamp with time zone not null default now()
      );


alter table "public"."platform_settings" enable row level security;


  create table "public"."premium_features" (
    "id" uuid not null default gen_random_uuid(),
    "feature_key" text not null,
    "name" text not null,
    "description" text,
    "category" text not null,
    "is_premium" boolean default false,
    "price_monthly" numeric default 0,
    "is_enabled" boolean default false,
    "configuration" jsonb default '{}'::jsonb,
    "created_at" timestamp with time zone default now(),
    "updated_at" timestamp with time zone default now()
      );


alter table "public"."premium_features" enable row level security;


  create table "public"."product_reviews" (
    "id" uuid not null default gen_random_uuid(),
    "user_id" uuid not null,
    "product_id" uuid not null,
    "rating" integer not null,
    "comment" text,
    "created_at" timestamp with time zone not null default now()
      );


alter table "public"."product_reviews" enable row level security;


  create table "public"."products" (
    "id" uuid not null default gen_random_uuid(),
    "merchant_id" uuid not null,
    "name" text not null,
    "description" text,
    "price" numeric(10,2) not null,
    "stock" integer not null default 0,
    "category_id" uuid,
    "image_url" text,
    "status" text not null default 'active'::text,
    "created_at" timestamp with time zone default now(),
    "updated_at" timestamp with time zone default now(),
    "bnpl_enabled" boolean default false
      );


alter table "public"."products" enable row level security;


  create table "public"."profiles" (
    "id" uuid not null,
    "first_name" text,
    "last_name" text,
    "phone" text,
    "role" text default 'client'::text,
    "business_name" text,
    "business_type" text,
    "vehicle_type" text,
    "zone" text,
    "created_at" timestamp with time zone default now(),
    "updated_at" timestamp with time zone default now(),
    "address" text,
    "birth_date" timestamp with time zone,
    "email" text,
    "city" text,
    "postal_code" text,
    "business_address" text,
    "business_city" text,
    "business_postal_code" text,
    "business_tax_id" text
      );


alter table "public"."profiles" enable row level security;


  create table "public"."services" (
    "id" uuid not null default gen_random_uuid(),
    "name" text not null,
    "description" text,
    "is_active" boolean not null default true,
    "created_at" timestamp with time zone not null default now(),
    "updated_at" timestamp with time zone not null default now()
      );


alter table "public"."services" enable row level security;


  create table "public"."user_ai_feature_settings" (
    "id" uuid not null default gen_random_uuid(),
    "user_id" uuid not null,
    "feature_key" text not null,
    "is_enabled" boolean not null,
    "created_at" timestamp with time zone not null default now(),
    "updated_at" timestamp with time zone not null default now()
      );


alter table "public"."user_ai_feature_settings" enable row level security;


  create table "public"."user_roles" (
    "id" uuid not null default gen_random_uuid(),
    "user_id" uuid not null,
    "role" text not null,
    "created_at" timestamp with time zone not null default now()
      );


alter table "public"."user_roles" enable row level security;

CREATE UNIQUE INDEX ai_feature_profile_settings_pkey ON public.ai_feature_profile_settings USING btree (id);

CREATE UNIQUE INDEX ai_feature_profile_settings_profile_type_feature_key_key ON public.ai_feature_profile_settings USING btree (profile_type, feature_key);

CREATE UNIQUE INDEX ai_module_settings_key_key ON public.ai_module_settings USING btree (key);

CREATE UNIQUE INDEX ai_module_settings_pkey ON public.ai_module_settings USING btree (id);

CREATE UNIQUE INDEX bnpl_applications_pkey ON public.bnpl_applications USING btree (id);

CREATE UNIQUE INDEX bnpl_plans_pkey ON public.bnpl_plans USING btree (id);

CREATE UNIQUE INDEX bnpl_plans_user_id_order_id_key ON public.bnpl_plans USING btree (user_id, order_id);

CREATE UNIQUE INDEX cart_pkey ON public.cart USING btree (id);

CREATE UNIQUE INDEX cart_user_id_product_id_key ON public.cart USING btree (user_id, product_id);

CREATE UNIQUE INDEX categories_pkey ON public.categories USING btree (id);

CREATE UNIQUE INDEX courses_pkey ON public.courses USING btree (id);

CREATE UNIQUE INDEX deliveries_pkey ON public.deliveries USING btree (id);

CREATE UNIQUE INDEX delivery_tracking_pkey ON public.delivery_tracking USING btree (id);

CREATE UNIQUE INDEX delivery_zones_pkey ON public.delivery_zones USING btree (id);

CREATE UNIQUE INDEX favorites_pkey ON public.favorites USING btree (id);

CREATE UNIQUE INDEX favorites_user_id_product_id_key ON public.favorites USING btree (user_id, product_id);

CREATE INDEX idx_bnpl_applications_merchant_id ON public.bnpl_applications USING btree (merchant_id);

CREATE INDEX idx_bnpl_applications_product_id ON public.bnpl_applications USING btree (product_id);

CREATE INDEX idx_bnpl_applications_status ON public.bnpl_applications USING btree (application_status);

CREATE INDEX idx_bnpl_applications_user_id ON public.bnpl_applications USING btree (user_id);

CREATE INDEX idx_cart_user_id ON public.cart USING btree (user_id);

CREATE INDEX idx_order_items_order_id ON public.order_items USING btree (order_id);

CREATE INDEX idx_orders_client_id ON public.orders USING btree (client_id);

CREATE INDEX idx_orders_merchant_id ON public.orders USING btree (merchant_id);

CREATE INDEX idx_orders_status ON public.orders USING btree (status);

CREATE UNIQUE INDEX order_items_pkey ON public.order_items USING btree (id);

CREATE UNIQUE INDEX orders_pkey ON public.orders USING btree (id);

CREATE UNIQUE INDEX platform_settings_pkey ON public.platform_settings USING btree (key);

CREATE UNIQUE INDEX premium_features_feature_key_key ON public.premium_features USING btree (feature_key);

CREATE UNIQUE INDEX premium_features_pkey ON public.premium_features USING btree (id);

CREATE UNIQUE INDEX product_reviews_pkey ON public.product_reviews USING btree (id);

CREATE UNIQUE INDEX product_reviews_product_id_user_id_idx ON public.product_reviews USING btree (product_id, user_id);

CREATE UNIQUE INDEX products_pkey ON public.products USING btree (id);

CREATE UNIQUE INDEX profiles_pkey ON public.profiles USING btree (id);

CREATE UNIQUE INDEX services_pkey ON public.services USING btree (id);

CREATE UNIQUE INDEX user_ai_feature_settings_pkey ON public.user_ai_feature_settings USING btree (id);

CREATE UNIQUE INDEX user_ai_feature_settings_user_id_feature_key_key ON public.user_ai_feature_settings USING btree (user_id, feature_key);

CREATE UNIQUE INDEX user_roles_pkey ON public.user_roles USING btree (id);

CREATE UNIQUE INDEX user_roles_user_id_role_idx ON public.user_roles USING btree (user_id, role);

alter table "public"."ai_feature_profile_settings" add constraint "ai_feature_profile_settings_pkey" PRIMARY KEY using index "ai_feature_profile_settings_pkey";

alter table "public"."ai_module_settings" add constraint "ai_module_settings_pkey" PRIMARY KEY using index "ai_module_settings_pkey";

alter table "public"."bnpl_applications" add constraint "bnpl_applications_pkey" PRIMARY KEY using index "bnpl_applications_pkey";

alter table "public"."bnpl_plans" add constraint "bnpl_plans_pkey" PRIMARY KEY using index "bnpl_plans_pkey";

alter table "public"."cart" add constraint "cart_pkey" PRIMARY KEY using index "cart_pkey";

alter table "public"."categories" add constraint "categories_pkey" PRIMARY KEY using index "categories_pkey";

alter table "public"."courses" add constraint "courses_pkey" PRIMARY KEY using index "courses_pkey";

alter table "public"."deliveries" add constraint "deliveries_pkey" PRIMARY KEY using index "deliveries_pkey";

alter table "public"."delivery_tracking" add constraint "delivery_tracking_pkey" PRIMARY KEY using index "delivery_tracking_pkey";

alter table "public"."delivery_zones" add constraint "delivery_zones_pkey" PRIMARY KEY using index "delivery_zones_pkey";

alter table "public"."favorites" add constraint "favorites_pkey" PRIMARY KEY using index "favorites_pkey";

alter table "public"."order_items" add constraint "order_items_pkey" PRIMARY KEY using index "order_items_pkey";

alter table "public"."orders" add constraint "orders_pkey" PRIMARY KEY using index "orders_pkey";

alter table "public"."platform_settings" add constraint "platform_settings_pkey" PRIMARY KEY using index "platform_settings_pkey";

alter table "public"."premium_features" add constraint "premium_features_pkey" PRIMARY KEY using index "premium_features_pkey";

alter table "public"."product_reviews" add constraint "product_reviews_pkey" PRIMARY KEY using index "product_reviews_pkey";

alter table "public"."products" add constraint "products_pkey" PRIMARY KEY using index "products_pkey";

alter table "public"."profiles" add constraint "profiles_pkey" PRIMARY KEY using index "profiles_pkey";

alter table "public"."services" add constraint "services_pkey" PRIMARY KEY using index "services_pkey";

alter table "public"."user_ai_feature_settings" add constraint "user_ai_feature_settings_pkey" PRIMARY KEY using index "user_ai_feature_settings_pkey";

alter table "public"."user_roles" add constraint "user_roles_pkey" PRIMARY KEY using index "user_roles_pkey";

alter table "public"."ai_feature_profile_settings" add constraint "ai_feature_profile_settings_profile_type_feature_key_key" UNIQUE using index "ai_feature_profile_settings_profile_type_feature_key_key";

alter table "public"."ai_module_settings" add constraint "ai_module_settings_key_key" UNIQUE using index "ai_module_settings_key_key";

alter table "public"."bnpl_applications" add constraint "bnpl_applications_product_id_fkey" FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE CASCADE not valid;

alter table "public"."bnpl_applications" validate constraint "bnpl_applications_product_id_fkey";

alter table "public"."bnpl_applications" add constraint "bnpl_applications_user_id_fkey" FOREIGN KEY (user_id) REFERENCES auth.users(id) ON DELETE CASCADE not valid;

alter table "public"."bnpl_applications" validate constraint "bnpl_applications_user_id_fkey";

alter table "public"."bnpl_plans" add constraint "bnpl_plans_order_id_fkey" FOREIGN KEY (order_id) REFERENCES public.orders(id) ON DELETE CASCADE not valid;

alter table "public"."bnpl_plans" validate constraint "bnpl_plans_order_id_fkey";

alter table "public"."bnpl_plans" add constraint "bnpl_plans_user_id_fkey" FOREIGN KEY (user_id) REFERENCES auth.users(id) ON DELETE CASCADE not valid;

alter table "public"."bnpl_plans" validate constraint "bnpl_plans_user_id_fkey";

alter table "public"."bnpl_plans" add constraint "bnpl_plans_user_id_order_id_key" UNIQUE using index "bnpl_plans_user_id_order_id_key";

alter table "public"."cart" add constraint "cart_product_id_fkey" FOREIGN KEY (product_id) REFERENCES public.products(id) not valid;

alter table "public"."cart" validate constraint "cart_product_id_fkey";

alter table "public"."cart" add constraint "cart_user_id_fkey" FOREIGN KEY (user_id) REFERENCES auth.users(id) not valid;

alter table "public"."cart" validate constraint "cart_user_id_fkey";

alter table "public"."cart" add constraint "cart_user_id_product_id_key" UNIQUE using index "cart_user_id_product_id_key";

alter table "public"."courses" add constraint "courses_driver_id_fkey" FOREIGN KEY (driver_id) REFERENCES public.profiles(id) not valid;

alter table "public"."courses" validate constraint "courses_driver_id_fkey";

alter table "public"."courses" add constraint "courses_service_id_fkey" FOREIGN KEY (service_id) REFERENCES public.services(id) not valid;

alter table "public"."courses" validate constraint "courses_service_id_fkey";

alter table "public"."deliveries" add constraint "deliveries_customer_id_fkey" FOREIGN KEY (customer_id) REFERENCES auth.users(id) not valid;

alter table "public"."deliveries" validate constraint "deliveries_customer_id_fkey";

alter table "public"."deliveries" add constraint "deliveries_driver_id_fkey" FOREIGN KEY (driver_id) REFERENCES auth.users(id) not valid;

alter table "public"."deliveries" validate constraint "deliveries_driver_id_fkey";

alter table "public"."deliveries" add constraint "deliveries_merchant_id_fkey" FOREIGN KEY (merchant_id) REFERENCES auth.users(id) not valid;

alter table "public"."deliveries" validate constraint "deliveries_merchant_id_fkey";

alter table "public"."deliveries" add constraint "deliveries_status_check" CHECK ((status = ANY (ARRAY['pending'::text, 'assigned'::text, 'picked_up'::text, 'in_transit'::text, 'delivered'::text, 'cancelled'::text]))) not valid;

alter table "public"."deliveries" validate constraint "deliveries_status_check";

alter table "public"."delivery_tracking" add constraint "delivery_tracking_delivery_id_fkey" FOREIGN KEY (delivery_id) REFERENCES public.deliveries(id) not valid;

alter table "public"."delivery_tracking" validate constraint "delivery_tracking_delivery_id_fkey";

alter table "public"."favorites" add constraint "favorites_product_id_fkey" FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE CASCADE not valid;

alter table "public"."favorites" validate constraint "favorites_product_id_fkey";

alter table "public"."favorites" add constraint "favorites_user_id_fkey" FOREIGN KEY (user_id) REFERENCES auth.users(id) ON DELETE CASCADE not valid;

alter table "public"."favorites" validate constraint "favorites_user_id_fkey";

alter table "public"."favorites" add constraint "favorites_user_id_product_id_key" UNIQUE using index "favorites_user_id_product_id_key";

alter table "public"."order_items" add constraint "order_items_order_id_fkey" FOREIGN KEY (order_id) REFERENCES public.orders(id) ON DELETE CASCADE not valid;

alter table "public"."order_items" validate constraint "order_items_order_id_fkey";

alter table "public"."order_items" add constraint "order_items_product_id_fkey" FOREIGN KEY (product_id) REFERENCES public.products(id) not valid;

alter table "public"."order_items" validate constraint "order_items_product_id_fkey";

alter table "public"."orders" add constraint "orders_client_id_fkey" FOREIGN KEY (client_id) REFERENCES auth.users(id) not valid;

alter table "public"."orders" validate constraint "orders_client_id_fkey";

alter table "public"."premium_features" add constraint "premium_features_feature_key_key" UNIQUE using index "premium_features_feature_key_key";

alter table "public"."product_reviews" add constraint "product_reviews_rating_check" CHECK (((rating >= 1) AND (rating <= 5))) not valid;

alter table "public"."product_reviews" validate constraint "product_reviews_rating_check";

alter table "public"."products" add constraint "products_category_id_fkey" FOREIGN KEY (category_id) REFERENCES public.categories(id) not valid;

alter table "public"."products" validate constraint "products_category_id_fkey";

alter table "public"."products" add constraint "products_merchant_id_fkey" FOREIGN KEY (merchant_id) REFERENCES auth.users(id) ON DELETE CASCADE not valid;

alter table "public"."products" validate constraint "products_merchant_id_fkey";

alter table "public"."products" add constraint "products_price_check" CHECK ((price >= (0)::numeric)) not valid;

alter table "public"."products" validate constraint "products_price_check";

alter table "public"."products" add constraint "products_status_check" CHECK ((status = ANY (ARRAY['active'::text, 'draft'::text, 'out_of_stock'::text]))) not valid;

alter table "public"."products" validate constraint "products_status_check";

alter table "public"."products" add constraint "products_stock_check" CHECK ((stock >= 0)) not valid;

alter table "public"."products" validate constraint "products_stock_check";

alter table "public"."profiles" add constraint "profiles_id_fkey" FOREIGN KEY (id) REFERENCES auth.users(id) ON DELETE CASCADE not valid;

alter table "public"."profiles" validate constraint "profiles_id_fkey";

alter table "public"."profiles" add constraint "profiles_role_check" CHECK ((role = ANY (ARRAY['client'::text, 'livreur'::text, 'admin'::text, 'marchand'::text]))) not valid;

alter table "public"."profiles" validate constraint "profiles_role_check";

alter table "public"."profiles" add constraint "profiles_rôle_check" CHECK ((role = ANY (ARRAY['client'::text, 'merchant'::text, 'delivery'::text, 'admin'::text]))) not valid;

alter table "public"."profiles" validate constraint "profiles_rôle_check";

alter table "public"."user_ai_feature_settings" add constraint "user_ai_feature_settings_feature_key_check" CHECK ((feature_key = ANY (ARRAY['content_generation'::text, 'pricing'::text, 'predictions'::text]))) not valid;

alter table "public"."user_ai_feature_settings" validate constraint "user_ai_feature_settings_feature_key_check";

alter table "public"."user_ai_feature_settings" add constraint "user_ai_feature_settings_user_id_feature_key_key" UNIQUE using index "user_ai_feature_settings_user_id_feature_key_key";

alter table "public"."user_ai_feature_settings" add constraint "user_ai_feature_settings_user_id_fkey" FOREIGN KEY (user_id) REFERENCES public.profiles(id) ON DELETE CASCADE not valid;

alter table "public"."user_ai_feature_settings" validate constraint "user_ai_feature_settings_user_id_fkey";

set check_function_bodies = off;

CREATE OR REPLACE FUNCTION public.get_latest_delivery_locations(p_delivery_ids uuid[])
 RETURNS TABLE(delivery_id uuid, latitude numeric, longitude numeric, created_at timestamp with time zone)
 LANGUAGE plpgsql
AS $function$
begin
  return query
      with latest_tracking as (
          select
              dt.delivery_id,
              dt.latitude,
              dt.longitude,
              dt.created_at,
              row_number() over(partition by dt.delivery_id order by dt.created_at desc) as rn
          from public.delivery_tracking dt
          where dt.delivery_id = any(p_delivery_ids)
      )
      select
          lt.delivery_id,
          lt.latitude,
          lt.longitude,
          lt.created_at
      from latest_tracking lt
      where lt.rn = 1;
end;
$function$
;

CREATE OR REPLACE FUNCTION public.handle_new_user()
 RETURNS trigger
 LANGUAGE plpgsql
 SECURITY DEFINER
 SET search_path TO ''
AS $function$
BEGIN
  INSERT INTO public.profiles (id, first_name, last_name, phone, role, email, business_name, business_type)
  VALUES (
    NEW.id,
    NEW.raw_user_meta_data ->> 'first_name',
    NEW.raw_user_meta_data ->> 'last_name',
    NEW.raw_user_meta_data ->> 'phone',
    COALESCE(NEW.raw_user_meta_data ->> 'role', 'client'),
    NEW.email,
    NEW.raw_user_meta_data ->> 'business_name',
    NEW.raw_user_meta_data ->> 'business_type'
  );
  RETURN NEW;
END;
$function$
;

CREATE OR REPLACE FUNCTION public.is_admin()
 RETURNS boolean
 LANGUAGE plpgsql
 SECURITY DEFINER
AS $function$
BEGIN
  -- Vérifie si l'utilisateur a le rôle 'admin' dans son profil
  RETURN EXISTS (
    SELECT 1
    FROM public.profiles
    WHERE id = auth.uid() AND role = 'admin'
  );
END;
$function$
;

CREATE OR REPLACE FUNCTION public.update_updated_at_column()
 RETURNS trigger
 LANGUAGE plpgsql
AS $function$
BEGIN
    NEW.updated_at = now();
    RETURN NEW;
END;
$function$
;

grant delete on table "public"."ai_feature_profile_settings" to "anon";

grant insert on table "public"."ai_feature_profile_settings" to "anon";

grant references on table "public"."ai_feature_profile_settings" to "anon";

grant select on table "public"."ai_feature_profile_settings" to "anon";

grant trigger on table "public"."ai_feature_profile_settings" to "anon";

grant truncate on table "public"."ai_feature_profile_settings" to "anon";

grant update on table "public"."ai_feature_profile_settings" to "anon";

grant delete on table "public"."ai_feature_profile_settings" to "authenticated";

grant insert on table "public"."ai_feature_profile_settings" to "authenticated";

grant references on table "public"."ai_feature_profile_settings" to "authenticated";

grant select on table "public"."ai_feature_profile_settings" to "authenticated";

grant trigger on table "public"."ai_feature_profile_settings" to "authenticated";

grant truncate on table "public"."ai_feature_profile_settings" to "authenticated";

grant update on table "public"."ai_feature_profile_settings" to "authenticated";

grant delete on table "public"."ai_feature_profile_settings" to "service_role";

grant insert on table "public"."ai_feature_profile_settings" to "service_role";

grant references on table "public"."ai_feature_profile_settings" to "service_role";

grant select on table "public"."ai_feature_profile_settings" to "service_role";

grant trigger on table "public"."ai_feature_profile_settings" to "service_role";

grant truncate on table "public"."ai_feature_profile_settings" to "service_role";

grant update on table "public"."ai_feature_profile_settings" to "service_role";

grant delete on table "public"."ai_module_settings" to "anon";

grant insert on table "public"."ai_module_settings" to "anon";

grant references on table "public"."ai_module_settings" to "anon";

grant select on table "public"."ai_module_settings" to "anon";

grant trigger on table "public"."ai_module_settings" to "anon";

grant truncate on table "public"."ai_module_settings" to "anon";

grant update on table "public"."ai_module_settings" to "anon";

grant delete on table "public"."ai_module_settings" to "authenticated";

grant insert on table "public"."ai_module_settings" to "authenticated";

grant references on table "public"."ai_module_settings" to "authenticated";

grant select on table "public"."ai_module_settings" to "authenticated";

grant trigger on table "public"."ai_module_settings" to "authenticated";

grant truncate on table "public"."ai_module_settings" to "authenticated";

grant update on table "public"."ai_module_settings" to "authenticated";

grant delete on table "public"."ai_module_settings" to "service_role";

grant insert on table "public"."ai_module_settings" to "service_role";

grant references on table "public"."ai_module_settings" to "service_role";

grant select on table "public"."ai_module_settings" to "service_role";

grant trigger on table "public"."ai_module_settings" to "service_role";

grant truncate on table "public"."ai_module_settings" to "service_role";

grant update on table "public"."ai_module_settings" to "service_role";

grant delete on table "public"."bnpl_applications" to "anon";

grant insert on table "public"."bnpl_applications" to "anon";

grant references on table "public"."bnpl_applications" to "anon";

grant select on table "public"."bnpl_applications" to "anon";

grant trigger on table "public"."bnpl_applications" to "anon";

grant truncate on table "public"."bnpl_applications" to "anon";

grant update on table "public"."bnpl_applications" to "anon";

grant delete on table "public"."bnpl_applications" to "authenticated";

grant insert on table "public"."bnpl_applications" to "authenticated";

grant references on table "public"."bnpl_applications" to "authenticated";

grant select on table "public"."bnpl_applications" to "authenticated";

grant trigger on table "public"."bnpl_applications" to "authenticated";

grant truncate on table "public"."bnpl_applications" to "authenticated";

grant update on table "public"."bnpl_applications" to "authenticated";

grant delete on table "public"."bnpl_applications" to "service_role";

grant insert on table "public"."bnpl_applications" to "service_role";

grant references on table "public"."bnpl_applications" to "service_role";

grant select on table "public"."bnpl_applications" to "service_role";

grant trigger on table "public"."bnpl_applications" to "service_role";

grant truncate on table "public"."bnpl_applications" to "service_role";

grant update on table "public"."bnpl_applications" to "service_role";

grant delete on table "public"."bnpl_plans" to "anon";

grant insert on table "public"."bnpl_plans" to "anon";

grant references on table "public"."bnpl_plans" to "anon";

grant select on table "public"."bnpl_plans" to "anon";

grant trigger on table "public"."bnpl_plans" to "anon";

grant truncate on table "public"."bnpl_plans" to "anon";

grant update on table "public"."bnpl_plans" to "anon";

grant delete on table "public"."bnpl_plans" to "authenticated";

grant insert on table "public"."bnpl_plans" to "authenticated";

grant references on table "public"."bnpl_plans" to "authenticated";

grant select on table "public"."bnpl_plans" to "authenticated";

grant trigger on table "public"."bnpl_plans" to "authenticated";

grant truncate on table "public"."bnpl_plans" to "authenticated";

grant update on table "public"."bnpl_plans" to "authenticated";

grant delete on table "public"."bnpl_plans" to "service_role";

grant insert on table "public"."bnpl_plans" to "service_role";

grant references on table "public"."bnpl_plans" to "service_role";

grant select on table "public"."bnpl_plans" to "service_role";

grant trigger on table "public"."bnpl_plans" to "service_role";

grant truncate on table "public"."bnpl_plans" to "service_role";

grant update on table "public"."bnpl_plans" to "service_role";

grant delete on table "public"."cart" to "anon";

grant insert on table "public"."cart" to "anon";

grant references on table "public"."cart" to "anon";

grant select on table "public"."cart" to "anon";

grant trigger on table "public"."cart" to "anon";

grant truncate on table "public"."cart" to "anon";

grant update on table "public"."cart" to "anon";

grant delete on table "public"."cart" to "authenticated";

grant insert on table "public"."cart" to "authenticated";

grant references on table "public"."cart" to "authenticated";

grant select on table "public"."cart" to "authenticated";

grant trigger on table "public"."cart" to "authenticated";

grant truncate on table "public"."cart" to "authenticated";

grant update on table "public"."cart" to "authenticated";

grant delete on table "public"."cart" to "service_role";

grant insert on table "public"."cart" to "service_role";

grant references on table "public"."cart" to "service_role";

grant select on table "public"."cart" to "service_role";

grant trigger on table "public"."cart" to "service_role";

grant truncate on table "public"."cart" to "service_role";

grant update on table "public"."cart" to "service_role";

grant delete on table "public"."categories" to "anon";

grant insert on table "public"."categories" to "anon";

grant references on table "public"."categories" to "anon";

grant select on table "public"."categories" to "anon";

grant trigger on table "public"."categories" to "anon";

grant truncate on table "public"."categories" to "anon";

grant update on table "public"."categories" to "anon";

grant delete on table "public"."categories" to "authenticated";

grant insert on table "public"."categories" to "authenticated";

grant references on table "public"."categories" to "authenticated";

grant select on table "public"."categories" to "authenticated";

grant trigger on table "public"."categories" to "authenticated";

grant truncate on table "public"."categories" to "authenticated";

grant update on table "public"."categories" to "authenticated";

grant delete on table "public"."categories" to "service_role";

grant insert on table "public"."categories" to "service_role";

grant references on table "public"."categories" to "service_role";

grant select on table "public"."categories" to "service_role";

grant trigger on table "public"."categories" to "service_role";

grant truncate on table "public"."categories" to "service_role";

grant update on table "public"."categories" to "service_role";

grant delete on table "public"."courses" to "anon";

grant insert on table "public"."courses" to "anon";

grant references on table "public"."courses" to "anon";

grant select on table "public"."courses" to "anon";

grant trigger on table "public"."courses" to "anon";

grant truncate on table "public"."courses" to "anon";

grant update on table "public"."courses" to "anon";

grant delete on table "public"."courses" to "authenticated";

grant insert on table "public"."courses" to "authenticated";

grant references on table "public"."courses" to "authenticated";

grant select on table "public"."courses" to "authenticated";

grant trigger on table "public"."courses" to "authenticated";

grant truncate on table "public"."courses" to "authenticated";

grant update on table "public"."courses" to "authenticated";

grant delete on table "public"."courses" to "service_role";

grant insert on table "public"."courses" to "service_role";

grant references on table "public"."courses" to "service_role";

grant select on table "public"."courses" to "service_role";

grant trigger on table "public"."courses" to "service_role";

grant truncate on table "public"."courses" to "service_role";

grant update on table "public"."courses" to "service_role";

grant delete on table "public"."deliveries" to "anon";

grant insert on table "public"."deliveries" to "anon";

grant references on table "public"."deliveries" to "anon";

grant select on table "public"."deliveries" to "anon";

grant trigger on table "public"."deliveries" to "anon";

grant truncate on table "public"."deliveries" to "anon";

grant update on table "public"."deliveries" to "anon";

grant delete on table "public"."deliveries" to "authenticated";

grant insert on table "public"."deliveries" to "authenticated";

grant references on table "public"."deliveries" to "authenticated";

grant select on table "public"."deliveries" to "authenticated";

grant trigger on table "public"."deliveries" to "authenticated";

grant truncate on table "public"."deliveries" to "authenticated";

grant update on table "public"."deliveries" to "authenticated";

grant delete on table "public"."deliveries" to "service_role";

grant insert on table "public"."deliveries" to "service_role";

grant references on table "public"."deliveries" to "service_role";

grant select on table "public"."deliveries" to "service_role";

grant trigger on table "public"."deliveries" to "service_role";

grant truncate on table "public"."deliveries" to "service_role";

grant update on table "public"."deliveries" to "service_role";

grant delete on table "public"."delivery_tracking" to "anon";

grant insert on table "public"."delivery_tracking" to "anon";

grant references on table "public"."delivery_tracking" to "anon";

grant select on table "public"."delivery_tracking" to "anon";

grant trigger on table "public"."delivery_tracking" to "anon";

grant truncate on table "public"."delivery_tracking" to "anon";

grant update on table "public"."delivery_tracking" to "anon";

grant delete on table "public"."delivery_tracking" to "authenticated";

grant insert on table "public"."delivery_tracking" to "authenticated";

grant references on table "public"."delivery_tracking" to "authenticated";

grant select on table "public"."delivery_tracking" to "authenticated";

grant trigger on table "public"."delivery_tracking" to "authenticated";

grant truncate on table "public"."delivery_tracking" to "authenticated";

grant update on table "public"."delivery_tracking" to "authenticated";

grant delete on table "public"."delivery_tracking" to "service_role";

grant insert on table "public"."delivery_tracking" to "service_role";

grant references on table "public"."delivery_tracking" to "service_role";

grant select on table "public"."delivery_tracking" to "service_role";

grant trigger on table "public"."delivery_tracking" to "service_role";

grant truncate on table "public"."delivery_tracking" to "service_role";

grant update on table "public"."delivery_tracking" to "service_role";

grant delete on table "public"."delivery_zones" to "anon";

grant insert on table "public"."delivery_zones" to "anon";

grant references on table "public"."delivery_zones" to "anon";

grant select on table "public"."delivery_zones" to "anon";

grant trigger on table "public"."delivery_zones" to "anon";

grant truncate on table "public"."delivery_zones" to "anon";

grant update on table "public"."delivery_zones" to "anon";

grant delete on table "public"."delivery_zones" to "authenticated";

grant insert on table "public"."delivery_zones" to "authenticated";

grant references on table "public"."delivery_zones" to "authenticated";

grant select on table "public"."delivery_zones" to "authenticated";

grant trigger on table "public"."delivery_zones" to "authenticated";

grant truncate on table "public"."delivery_zones" to "authenticated";

grant update on table "public"."delivery_zones" to "authenticated";

grant delete on table "public"."delivery_zones" to "service_role";

grant insert on table "public"."delivery_zones" to "service_role";

grant references on table "public"."delivery_zones" to "service_role";

grant select on table "public"."delivery_zones" to "service_role";

grant trigger on table "public"."delivery_zones" to "service_role";

grant truncate on table "public"."delivery_zones" to "service_role";

grant update on table "public"."delivery_zones" to "service_role";

grant delete on table "public"."favorites" to "anon";

grant insert on table "public"."favorites" to "anon";

grant references on table "public"."favorites" to "anon";

grant select on table "public"."favorites" to "anon";

grant trigger on table "public"."favorites" to "anon";

grant truncate on table "public"."favorites" to "anon";

grant update on table "public"."favorites" to "anon";

grant delete on table "public"."favorites" to "authenticated";

grant insert on table "public"."favorites" to "authenticated";

grant references on table "public"."favorites" to "authenticated";

grant select on table "public"."favorites" to "authenticated";

grant trigger on table "public"."favorites" to "authenticated";

grant truncate on table "public"."favorites" to "authenticated";

grant update on table "public"."favorites" to "authenticated";

grant delete on table "public"."favorites" to "service_role";

grant insert on table "public"."favorites" to "service_role";

grant references on table "public"."favorites" to "service_role";

grant select on table "public"."favorites" to "service_role";

grant trigger on table "public"."favorites" to "service_role";

grant truncate on table "public"."favorites" to "service_role";

grant update on table "public"."favorites" to "service_role";

grant delete on table "public"."order_items" to "anon";

grant insert on table "public"."order_items" to "anon";

grant references on table "public"."order_items" to "anon";

grant select on table "public"."order_items" to "anon";

grant trigger on table "public"."order_items" to "anon";

grant truncate on table "public"."order_items" to "anon";

grant update on table "public"."order_items" to "anon";

grant delete on table "public"."order_items" to "authenticated";

grant insert on table "public"."order_items" to "authenticated";

grant references on table "public"."order_items" to "authenticated";

grant select on table "public"."order_items" to "authenticated";

grant trigger on table "public"."order_items" to "authenticated";

grant truncate on table "public"."order_items" to "authenticated";

grant update on table "public"."order_items" to "authenticated";

grant delete on table "public"."order_items" to "service_role";

grant insert on table "public"."order_items" to "service_role";

grant references on table "public"."order_items" to "service_role";

grant select on table "public"."order_items" to "service_role";

grant trigger on table "public"."order_items" to "service_role";

grant truncate on table "public"."order_items" to "service_role";

grant update on table "public"."order_items" to "service_role";

grant delete on table "public"."orders" to "anon";

grant insert on table "public"."orders" to "anon";

grant references on table "public"."orders" to "anon";

grant select on table "public"."orders" to "anon";

grant trigger on table "public"."orders" to "anon";

grant truncate on table "public"."orders" to "anon";

grant update on table "public"."orders" to "anon";

grant delete on table "public"."orders" to "authenticated";

grant insert on table "public"."orders" to "authenticated";

grant references on table "public"."orders" to "authenticated";

grant select on table "public"."orders" to "authenticated";

grant trigger on table "public"."orders" to "authenticated";

grant truncate on table "public"."orders" to "authenticated";

grant update on table "public"."orders" to "authenticated";

grant delete on table "public"."orders" to "service_role";

grant insert on table "public"."orders" to "service_role";

grant references on table "public"."orders" to "service_role";

grant select on table "public"."orders" to "service_role";

grant trigger on table "public"."orders" to "service_role";

grant truncate on table "public"."orders" to "service_role";

grant update on table "public"."orders" to "service_role";

grant delete on table "public"."platform_settings" to "anon";

grant insert on table "public"."platform_settings" to "anon";

grant references on table "public"."platform_settings" to "anon";

grant select on table "public"."platform_settings" to "anon";

grant trigger on table "public"."platform_settings" to "anon";

grant truncate on table "public"."platform_settings" to "anon";

grant update on table "public"."platform_settings" to "anon";

grant delete on table "public"."platform_settings" to "authenticated";

grant insert on table "public"."platform_settings" to "authenticated";

grant references on table "public"."platform_settings" to "authenticated";

grant select on table "public"."platform_settings" to "authenticated";

grant trigger on table "public"."platform_settings" to "authenticated";

grant truncate on table "public"."platform_settings" to "authenticated";

grant update on table "public"."platform_settings" to "authenticated";

grant delete on table "public"."platform_settings" to "service_role";

grant insert on table "public"."platform_settings" to "service_role";

grant references on table "public"."platform_settings" to "service_role";

grant select on table "public"."platform_settings" to "service_role";

grant trigger on table "public"."platform_settings" to "service_role";

grant truncate on table "public"."platform_settings" to "service_role";

grant update on table "public"."platform_settings" to "service_role";

grant delete on table "public"."premium_features" to "anon";

grant insert on table "public"."premium_features" to "anon";

grant references on table "public"."premium_features" to "anon";

grant select on table "public"."premium_features" to "anon";

grant trigger on table "public"."premium_features" to "anon";

grant truncate on table "public"."premium_features" to "anon";

grant update on table "public"."premium_features" to "anon";

grant delete on table "public"."premium_features" to "authenticated";

grant insert on table "public"."premium_features" to "authenticated";

grant references on table "public"."premium_features" to "authenticated";

grant select on table "public"."premium_features" to "authenticated";

grant trigger on table "public"."premium_features" to "authenticated";

grant truncate on table "public"."premium_features" to "authenticated";

grant update on table "public"."premium_features" to "authenticated";

grant delete on table "public"."premium_features" to "service_role";

grant insert on table "public"."premium_features" to "service_role";

grant references on table "public"."premium_features" to "service_role";

grant select on table "public"."premium_features" to "service_role";

grant trigger on table "public"."premium_features" to "service_role";

grant truncate on table "public"."premium_features" to "service_role";

grant update on table "public"."premium_features" to "service_role";

grant delete on table "public"."product_reviews" to "anon";

grant insert on table "public"."product_reviews" to "anon";

grant references on table "public"."product_reviews" to "anon";

grant select on table "public"."product_reviews" to "anon";

grant trigger on table "public"."product_reviews" to "anon";

grant truncate on table "public"."product_reviews" to "anon";

grant update on table "public"."product_reviews" to "anon";

grant delete on table "public"."product_reviews" to "authenticated";

grant insert on table "public"."product_reviews" to "authenticated";

grant references on table "public"."product_reviews" to "authenticated";

grant select on table "public"."product_reviews" to "authenticated";

grant trigger on table "public"."product_reviews" to "authenticated";

grant truncate on table "public"."product_reviews" to "authenticated";

grant update on table "public"."product_reviews" to "authenticated";

grant delete on table "public"."product_reviews" to "service_role";

grant insert on table "public"."product_reviews" to "service_role";

grant references on table "public"."product_reviews" to "service_role";

grant select on table "public"."product_reviews" to "service_role";

grant trigger on table "public"."product_reviews" to "service_role";

grant truncate on table "public"."product_reviews" to "service_role";

grant update on table "public"."product_reviews" to "service_role";

grant delete on table "public"."products" to "anon";

grant insert on table "public"."products" to "anon";

grant references on table "public"."products" to "anon";

grant select on table "public"."products" to "anon";

grant trigger on table "public"."products" to "anon";

grant truncate on table "public"."products" to "anon";

grant update on table "public"."products" to "anon";

grant delete on table "public"."products" to "authenticated";

grant insert on table "public"."products" to "authenticated";

grant references on table "public"."products" to "authenticated";

grant select on table "public"."products" to "authenticated";

grant trigger on table "public"."products" to "authenticated";

grant truncate on table "public"."products" to "authenticated";

grant update on table "public"."products" to "authenticated";

grant delete on table "public"."products" to "service_role";

grant insert on table "public"."products" to "service_role";

grant references on table "public"."products" to "service_role";

grant select on table "public"."products" to "service_role";

grant trigger on table "public"."products" to "service_role";

grant truncate on table "public"."products" to "service_role";

grant update on table "public"."products" to "service_role";

grant delete on table "public"."profiles" to "anon";

grant insert on table "public"."profiles" to "anon";

grant references on table "public"."profiles" to "anon";

grant select on table "public"."profiles" to "anon";

grant trigger on table "public"."profiles" to "anon";

grant truncate on table "public"."profiles" to "anon";

grant update on table "public"."profiles" to "anon";

grant delete on table "public"."profiles" to "authenticated";

grant insert on table "public"."profiles" to "authenticated";

grant references on table "public"."profiles" to "authenticated";

grant select on table "public"."profiles" to "authenticated";

grant trigger on table "public"."profiles" to "authenticated";

grant truncate on table "public"."profiles" to "authenticated";

grant update on table "public"."profiles" to "authenticated";

grant delete on table "public"."profiles" to "service_role";

grant insert on table "public"."profiles" to "service_role";

grant references on table "public"."profiles" to "service_role";

grant select on table "public"."profiles" to "service_role";

grant trigger on table "public"."profiles" to "service_role";

grant truncate on table "public"."profiles" to "service_role";

grant update on table "public"."profiles" to "service_role";

grant delete on table "public"."services" to "anon";

grant insert on table "public"."services" to "anon";

grant references on table "public"."services" to "anon";

grant select on table "public"."services" to "anon";

grant trigger on table "public"."services" to "anon";

grant truncate on table "public"."services" to "anon";

grant update on table "public"."services" to "anon";

grant delete on table "public"."services" to "authenticated";

grant insert on table "public"."services" to "authenticated";

grant references on table "public"."services" to "authenticated";

grant select on table "public"."services" to "authenticated";

grant trigger on table "public"."services" to "authenticated";

grant truncate on table "public"."services" to "authenticated";

grant update on table "public"."services" to "authenticated";

grant delete on table "public"."services" to "service_role";

grant insert on table "public"."services" to "service_role";

grant references on table "public"."services" to "service_role";

grant select on table "public"."services" to "service_role";

grant trigger on table "public"."services" to "service_role";

grant truncate on table "public"."services" to "service_role";

grant update on table "public"."services" to "service_role";

grant delete on table "public"."user_ai_feature_settings" to "anon";

grant insert on table "public"."user_ai_feature_settings" to "anon";

grant references on table "public"."user_ai_feature_settings" to "anon";

grant select on table "public"."user_ai_feature_settings" to "anon";

grant trigger on table "public"."user_ai_feature_settings" to "anon";

grant truncate on table "public"."user_ai_feature_settings" to "anon";

grant update on table "public"."user_ai_feature_settings" to "anon";

grant delete on table "public"."user_ai_feature_settings" to "authenticated";

grant insert on table "public"."user_ai_feature_settings" to "authenticated";

grant references on table "public"."user_ai_feature_settings" to "authenticated";

grant select on table "public"."user_ai_feature_settings" to "authenticated";

grant trigger on table "public"."user_ai_feature_settings" to "authenticated";

grant truncate on table "public"."user_ai_feature_settings" to "authenticated";

grant update on table "public"."user_ai_feature_settings" to "authenticated";

grant delete on table "public"."user_ai_feature_settings" to "service_role";

grant insert on table "public"."user_ai_feature_settings" to "service_role";

grant references on table "public"."user_ai_feature_settings" to "service_role";

grant select on table "public"."user_ai_feature_settings" to "service_role";

grant trigger on table "public"."user_ai_feature_settings" to "service_role";

grant truncate on table "public"."user_ai_feature_settings" to "service_role";

grant update on table "public"."user_ai_feature_settings" to "service_role";

grant delete on table "public"."user_roles" to "anon";

grant insert on table "public"."user_roles" to "anon";

grant references on table "public"."user_roles" to "anon";

grant select on table "public"."user_roles" to "anon";

grant trigger on table "public"."user_roles" to "anon";

grant truncate on table "public"."user_roles" to "anon";

grant update on table "public"."user_roles" to "anon";

grant delete on table "public"."user_roles" to "authenticated";

grant insert on table "public"."user_roles" to "authenticated";

grant references on table "public"."user_roles" to "authenticated";

grant select on table "public"."user_roles" to "authenticated";

grant trigger on table "public"."user_roles" to "authenticated";

grant truncate on table "public"."user_roles" to "authenticated";

grant update on table "public"."user_roles" to "authenticated";

grant delete on table "public"."user_roles" to "service_role";

grant insert on table "public"."user_roles" to "service_role";

grant references on table "public"."user_roles" to "service_role";

grant select on table "public"."user_roles" to "service_role";

grant trigger on table "public"."user_roles" to "service_role";

grant truncate on table "public"."user_roles" to "service_role";

grant update on table "public"."user_roles" to "service_role";


  create policy "Admins can update AI module settings"
  on "public"."ai_module_settings"
  as permissive
  for update
  to authenticated
using ((EXISTS ( SELECT 1
   FROM public.profiles
  WHERE ((profiles.id = auth.uid()) AND (profiles.role = 'admin'::text)))))
with check ((EXISTS ( SELECT 1
   FROM public.profiles
  WHERE ((profiles.id = auth.uid()) AND (profiles.role = 'admin'::text)))));



  create policy "Allow authenticated read access to AI module settings"
  on "public"."ai_module_settings"
  as permissive
  for select
  to authenticated
using (true);



  create policy "Merchants can update applications for their products"
  on "public"."bnpl_applications"
  as permissive
  for update
  to public
using ((auth.uid() = merchant_id));



  create policy "Merchants can view applications for their products"
  on "public"."bnpl_applications"
  as permissive
  for select
  to public
using ((auth.uid() = merchant_id));



  create policy "Users can create their own BNPL applications"
  on "public"."bnpl_applications"
  as permissive
  for insert
  to public
with check ((auth.uid() = user_id));



  create policy "Users can view their own BNPL applications"
  on "public"."bnpl_applications"
  as permissive
  for select
  to public
using ((auth.uid() = user_id));



  create policy "Users can create their own BNPL plans"
  on "public"."bnpl_plans"
  as permissive
  for insert
  to public
with check ((auth.uid() = user_id));



  create policy "Users can update their own BNPL plans"
  on "public"."bnpl_plans"
  as permissive
  for update
  to public
using ((auth.uid() = user_id));



  create policy "Users can view their own BNPL plans"
  on "public"."bnpl_plans"
  as permissive
  for select
  to public
using ((auth.uid() = user_id));



  create policy "Users can manage their own cart"
  on "public"."cart"
  as permissive
  for all
  to public
using ((auth.uid() = user_id));



  create policy "Anyone can view categories"
  on "public"."categories"
  as permissive
  for select
  to public
using (true);



  create policy "Admin full manage"
  on "public"."courses"
  as permissive
  for all
  to public
using ((EXISTS ( SELECT 1
   FROM public.profiles p
  WHERE ((p.id = auth.uid()) AND (p.role = 'admin'::text)))));



  create policy "Client can read own courses"
  on "public"."courses"
  as permissive
  for select
  to public
using (((EXISTS ( SELECT 1
   FROM public.deliveries d
  WHERE ((d.id = courses.delivery_id) AND (d.customer_id = auth.uid())))) OR (EXISTS ( SELECT 1
   FROM public.profiles p
  WHERE ((p.id = auth.uid()) AND (p.role = 'admin'::text)))) OR (driver_id = auth.uid())));



  create policy "Merchants and drivers can update deliveries"
  on "public"."deliveries"
  as permissive
  for update
  to public
using (((auth.uid() = merchant_id) OR (auth.uid() = driver_id)));



  create policy "Merchants can create deliveries"
  on "public"."deliveries"
  as permissive
  for insert
  to public
with check ((auth.uid() = merchant_id));



  create policy "Users can view their own deliveries as customer"
  on "public"."deliveries"
  as permissive
  for select
  to public
using ((auth.uid() = customer_id));



  create policy "Users can view their own deliveries as driver"
  on "public"."deliveries"
  as permissive
  for select
  to public
using ((auth.uid() = driver_id));



  create policy "Users can view their own deliveries as merchant"
  on "public"."deliveries"
  as permissive
  for select
  to public
using ((auth.uid() = merchant_id));



  create policy "Drivers can insert tracking updates"
  on "public"."delivery_tracking"
  as permissive
  for insert
  to public
with check ((EXISTS ( SELECT 1
   FROM public.deliveries d
  WHERE ((d.id = delivery_tracking.delivery_id) AND (d.driver_id = auth.uid())))));



  create policy "Users can view tracking for their deliveries"
  on "public"."delivery_tracking"
  as permissive
  for select
  to public
using ((EXISTS ( SELECT 1
   FROM public.deliveries d
  WHERE ((d.id = delivery_tracking.delivery_id) AND ((d.customer_id = auth.uid()) OR (d.merchant_id = auth.uid()) OR (d.driver_id = auth.uid()))))));



  create policy "Anyone can view active delivery zones"
  on "public"."delivery_zones"
  as permissive
  for select
  to public
using ((is_active = true));



  create policy "Les administrateurs peuvent gérer les zones de livraison"
  on "public"."delivery_zones"
  as permissive
  for all
  to public
using (public.is_admin())
with check (public.is_admin());



  create policy "Les utilisateurs authentifiés peuvent voir les zones de livrai"
  on "public"."delivery_zones"
  as permissive
  for select
  to authenticated
using (true);



  create policy "Users can delete their own favorites"
  on "public"."favorites"
  as permissive
  for delete
  to public
using ((auth.uid() = user_id));



  create policy "Users can insert their own favorites"
  on "public"."favorites"
  as permissive
  for insert
  to public
with check ((auth.uid() = user_id));



  create policy "Users can view their own favorites"
  on "public"."favorites"
  as permissive
  for select
  to public
using ((auth.uid() = user_id));



  create policy "Users can create items for their orders"
  on "public"."order_items"
  as permissive
  for insert
  to public
with check ((EXISTS ( SELECT 1
   FROM public.orders
  WHERE ((orders.id = order_items.order_id) AND (orders.client_id = auth.uid())))));



  create policy "Users can view items of their orders"
  on "public"."order_items"
  as permissive
  for select
  to public
using ((EXISTS ( SELECT 1
   FROM public.orders
  WHERE ((orders.id = order_items.order_id) AND (orders.client_id = auth.uid())))));



  create policy "Users can create their own orders"
  on "public"."orders"
  as permissive
  for insert
  to public
with check ((auth.uid() = client_id));



  create policy "Users can update their own orders"
  on "public"."orders"
  as permissive
  for update
  to public
using ((auth.uid() = client_id));



  create policy "Users can view their own orders"
  on "public"."orders"
  as permissive
  for select
  to public
using ((auth.uid() = client_id));



  create policy "Les administrateurs peuvent gérer les paramètres de la platef"
  on "public"."platform_settings"
  as permissive
  for all
  to public
using (public.is_admin())
with check (public.is_admin());



  create policy "Admins can manage premium features"
  on "public"."premium_features"
  as permissive
  for all
  to authenticated
using (public.is_admin())
with check (public.is_admin());



  create policy "Users can view premium features"
  on "public"."premium_features"
  as permissive
  for select
  to authenticated
using (true);



  create policy "all-can-select"
  on "public"."product_reviews"
  as permissive
  for select
  to public
using (true);



  create policy "user-can-delete-own-review"
  on "public"."product_reviews"
  as permissive
  for delete
  to public
using ((auth.uid() = user_id));



  create policy "user-can-insert-own-review"
  on "public"."product_reviews"
  as permissive
  for insert
  to public
with check ((auth.uid() = user_id));



  create policy "user-can-update-own-review"
  on "public"."product_reviews"
  as permissive
  for update
  to public
using ((auth.uid() = user_id));



  create policy "Anyone can view active products"
  on "public"."products"
  as permissive
  for select
  to public
using (((status = 'active'::text) OR (merchant_id = auth.uid())));



  create policy "Les administrateurs peuvent gérer les produits"
  on "public"."products"
  as permissive
  for all
  to public
using (public.is_admin())
with check (public.is_admin());



  create policy "Les produits sont visibles publiquement"
  on "public"."products"
  as permissive
  for select
  to public
using (true);



  create policy "Merchants can delete their own products"
  on "public"."products"
  as permissive
  for delete
  to public
using ((merchant_id = auth.uid()));



  create policy "Merchants can insert their own products"
  on "public"."products"
  as permissive
  for insert
  to public
with check ((merchant_id = auth.uid()));



  create policy "Merchants can update their own products"
  on "public"."products"
  as permissive
  for update
  to public
using ((merchant_id = auth.uid()));



  create policy "Les administrateurs peuvent gérer tous les profils"
  on "public"."profiles"
  as permissive
  for all
  to public
using (public.is_admin())
with check (public.is_admin());



  create policy "Les utilisateurs peuvent mettre à jour leur propre profil"
  on "public"."profiles"
  as permissive
  for update
  to public
using ((auth.uid() = id))
with check ((auth.uid() = id));



  create policy "Les utilisateurs peuvent voir leur propre profil"
  on "public"."profiles"
  as permissive
  for select
  to public
using ((auth.uid() = id));



  create policy "Users can insert their own profile"
  on "public"."profiles"
  as permissive
  for insert
  to public
with check ((auth.uid() = id));



  create policy "Users can update their own profile"
  on "public"."profiles"
  as permissive
  for update
  to public
using ((auth.uid() = id));



  create policy "Users can view their own profile"
  on "public"."profiles"
  as permissive
  for select
  to public
using ((auth.uid() = id));



  create policy "Allow admin manage"
  on "public"."services"
  as permissive
  for all
  to public
using ((EXISTS ( SELECT 1
   FROM public.profiles
  WHERE ((profiles.id = auth.uid()) AND (profiles.role = 'admin'::text)))));



  create policy "Allow read to all"
  on "public"."services"
  as permissive
  for select
  to public
using (true);



  create policy "Admins can manage all user AI feature settings"
  on "public"."user_ai_feature_settings"
  as permissive
  for all
  to public
using (public.is_admin())
with check (public.is_admin());



  create policy "Users can read their own AI feature settings"
  on "public"."user_ai_feature_settings"
  as permissive
  for select
  to public
using ((auth.uid() = user_id));



  create policy "Admins can delete user roles"
  on "public"."user_roles"
  as permissive
  for delete
  to public
using (public.is_admin());



  create policy "Admins can insert user roles"
  on "public"."user_roles"
  as permissive
  for insert
  to public
with check (public.is_admin());



  create policy "Admins can read all user roles"
  on "public"."user_roles"
  as permissive
  for select
  to public
using (public.is_admin());



  create policy "Admins can update user roles"
  on "public"."user_roles"
  as permissive
  for update
  to public
using (public.is_admin());



  create policy "Les administrateurs peuvent lire tous les roles"
  on "public"."user_roles"
  as permissive
  for select
  to public
using (public.is_admin());



  create policy "Un utilisateur peut insérer ses rôles"
  on "public"."user_roles"
  as permissive
  for insert
  to public
with check ((user_id = auth.uid()));



  create policy "Un utilisateur peut lire ses rôles"
  on "public"."user_roles"
  as permissive
  for select
  to public
using ((user_id = auth.uid()));



  create policy "Un utilisateur peut mettre à jour ses rôles"
  on "public"."user_roles"
  as permissive
  for update
  to public
using ((user_id = auth.uid()));



  create policy "Un utilisateur peut supprimer ses rôles"
  on "public"."user_roles"
  as permissive
  for delete
  to public
using ((user_id = auth.uid()));


CREATE TRIGGER update_cart_updated_at BEFORE UPDATE ON public.cart FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();

CREATE TRIGGER update_categories_updated_at BEFORE UPDATE ON public.categories FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();

CREATE TRIGGER update_deliveries_updated_at BEFORE UPDATE ON public.deliveries FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();

CREATE TRIGGER update_delivery_zones_updated_at BEFORE UPDATE ON public.delivery_zones FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();

CREATE TRIGGER update_orders_updated_at BEFORE UPDATE ON public.orders FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();

CREATE TRIGGER handle_platform_settings_updated_at BEFORE UPDATE ON public.platform_settings FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();

CREATE TRIGGER update_premium_features_updated_at BEFORE UPDATE ON public.premium_features FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();

CREATE TRIGGER update_products_updated_at BEFORE UPDATE ON public.products FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();

CREATE TRIGGER handle_user_ai_settings_updated_at BEFORE UPDATE ON public.user_ai_feature_settings FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();

CREATE TRIGGER on_auth_user_created AFTER INSERT ON auth.users FOR EACH ROW EXECUTE FUNCTION public.handle_new_user();



